body{ 
    text-align: center;
    margin: 20px;
    font-family: Arial;
    color: grey;
}

#title{ 
    font-family: Georgia; 
    color: black;
}

p{ 
    font-size: 25px;
    background-color: aquamarine;
    color:black;
}

html{ 
    background-color:white;
}

img{ 
    display: block;
    margin: auto; 
}

iframe{ 
    display: block;
    margin: auto; 
}

.other{ 
    text-align: left;
}
